{% if item %}
<div class="product mb-6 flex pr-6" id="cart-item-{{ item.cart_key }}">
    {% if item.slug %}
    <a href="{% url 'produkt' item.slug %}" class="w-1/4">
        <img src="{{ item.thumbnail_url }}" class="hover:shadow-lg rounded-xl" alt="{{ item.produkt_namn }}">
                    
    </a>
    {% else %}
    <div class="w-1/4">
        <img src="{{ item.thumbnail_url }}" class="hover:shadow-lg rounded-xl" alt="{{ item.produkt_namn }}">
    </div>
    {% endif %}
    <div class="w-3/4 pl-6">
        <div class="flex justify-between">
            <span>{{ item.produkt_namn }}</span>
            <span class="mb-6 pt-1 text-gray-400">{{ item.total_price }} kr</span>
        </div>
        <hr>
        {% include 'cart/partials/cart_quantity.html' %}
        <div class="product-options">
            {% if item.color %}
                <p><strong>Färg:</strong> {{ item.color.name }}</p>
            {% endif %}

            {% if item.custom_text %}
                <p><strong>Anpassad Text:</strong> {{ item.custom_text }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
