{% load extra_filters price_filters %}
{% if cart_error %}
    <p class="alert alert--error mb-5" role="alert">{{ cart_error }}</p>
{% endif %}
<div class="summary-row">
    <span class="font-semibold">Delsumma (inkl. moms)</span>
    <span>{{ cart.get_total_cost|sek }}</span>
</div>

<div class="summary-row">
    <span class="font-semibold">Fraktkostnad </span>
    <span>{{ 79|sek }}</span>
</div>

<div class="summary-row">
    <span class="font-semibold">Moms (20%) </span>
    <span>{{ cart.get_total_cost|multiply:0.20|sek }}</span>
</div>

{% with total_cost=cart.get_total_cost|add:79 %}
    <div class="summary-row summary-total">
        <span class="font-semibold">Totalt inklusive moms och frakt </span>
        <span>{{ total_cost|sek }}</span>
    </div>
{% endwith %}
