{% load price_filters %}

{% if item %}
<div class="product cart-item" id="cart-item-{{ item.cart_key }}">
    {% if item.slug %}
    <a href="{% url 'produkt' item.slug %}" class="min-w-0">
        <img src="{{ item.thumbnail_url }}" class="rounded-xl" alt="{{ item.produkt_namn }}">
                    
    </a>
    {% else %}
    <div class="min-w-0">
        <img src="{{ item.thumbnail_url }}" class="rounded-xl" alt="{{ item.produkt_namn }}">
    </div>
    {% endif %}
    <div class="min-w-0">
        <div class="cart-item-heading">
            <span>{{ item.produkt_namn }}</span>
            <span class="whitespace-nowrap text-gray-900">{{ item.total_price|sek }}</span>
        </div>
        {% include 'cart/partials/cart_quantity.html' %}
        <div class="product-options">
            {% if item.color %}
                <p><strong>Färg:</strong> {{ item.color.name }}</p>
            {% endif %}

            {% if item.custom_text %}
                <p><strong>Anpassad Text:</strong> {{ item.custom_text }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
