<div class="w-full md:w-1/3 xl:w-1/4 p-6 flex flex-col">
    <a href="{% url 'produkt' produkt.slug %}">
        <img src="{{ produkt.get_thumbnail }}" 
            class="w-full rounded-xl shadow-lg" 
            alt="">
    </a>
    <div class="pt-3 flex-grow flex flex-col justify-between">
        <a href="{% url 'produkt' produkt.slug %}" class="flex-shrink-0">{{ produkt.namn }} {% if produkt.discount_percentage > 0 %}<strong>REA</strong>{% endif %}</a>

        {% if produkt.is_active %}
            <span class="inline-block rounded-xl text-gray-900 cursor-pointer">
                <a href="{% url 'produkt' produkt.slug %}" class="flex-shrink-0 nav-link">Se alternativ / Köp</a>
            </span>
        {% else %}
            <span class="inline-block rounded-xl text-gray-400">Slut i lager</span>
        {% endif %}

        {% if produkt.discount_percentage > 0 %}
            <p class="pt-1 text-gray-400">
                {{ produkt.get_discounted_price }} kr / <strong>{{ produkt.get_unit_display }}</strong>
            </p>
        {% else %}
            <p class="pt-1 text-gray-400">{{ produkt.pris}} kr / <strong>{{ produkt.get_unit_display }}</strong></p>
        {% endif %}
    </div>
</div>