*, *:before, *:after {
    font-family: 'Montserrat', sans-serif;
}

.green-color {
    color: #97d700;
}

.green-color-text {
    color: #97d700;
}

.green-color:hover {
    color: #729b11;
}

.green-bg {
    background-color: #97d700;
}
.green-bg:hover {
    background-color: #97d700;
}

.green-bg:hover {
    background-color: #729b11;
}

.btn-green {
    background-color: #97d700 !important;
}

.btn-green:hover {
    background-color: #729b11 !important;
}

/* ----- nav-----*/

.nav-link {
    --underlineWidth: 0%;
    position: relative;
    display: inline-block;
    padding-bottom: 5px; /* Adjust as needed */
    overflow: hidden;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: var(--underlineWidth);
    height: 2px; /* Adjust thickness of underline */
    background: #97d700; /* Color of underline */
    transition: width 0.3s;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
}

/* This assumes you're adding an 'active' class to your current page's nav item */
.nav-link.active {
    font-weight: bold; /* optional, for active page styling */
    --underlineWidth: 100%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
/* Search page style */
.dropdown-content {
    background-color: #f9f9f9;
    padding: 5px;
    margin-top: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dropdown-content.show {
    max-height: 500px; /* Justera detta värde efter behov */
}

/* Video modal */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    margin: 5% auto; 
    padding: 20px;
    width: 80%; 
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.info-box {
    background-color: #f9f9f9; /* Ljus bakgrund */
    border: 1px solid #ddd; /* Lätt ram */
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}

.info-icon {
    width: 50px; /* Eller passande storlek */
    margin-right: 10px;
}

.info-box p {
    font-size: 1.1rem; /* Större text */
    font-weight: bold;
    margin: 0;
}

.text-link {
    color: #97d700; /* Länkfärg, anpassa efter ditt tema */
    text-decoration: underline; /* Understrykning för att visa att det är en länk */
    cursor: pointer; /* Förändrar muspekaren för att indikera klickbarhet */
    background-color: transparent; /* Transparent bakgrund */
    border: none; /* Ingen ram */
    padding: 0; /* Ingen padding */
    font-family: inherit; /* Samma teckensnitt som omgivande text */
    font-size: inherit; /* Samma teckenstorlek som omgivande text */
    transition: color 0.3s; /* En mjuk övergång för färgändring */
}

.text-link:hover {
    color: #729b11; /* Mörkare färg vid hover */
    text-decoration: none; /* Ta bort understrykning vid hover */
}

/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    display: none; /* Hidden by default, shown in mobile view */
}

/* Navigation Menu */
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    text-decoration: none;
    color: inherit; /* or your desired color */
}

.nav-link.active {
    font-weight: bold; /* Style for active link */
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .menu {
        display: none; /* Hide on small screens */
    }

    .menu.lg:hidden {
        display: block; /* Show when hamburger is clicked */
        flex-direction: column;
    }

    .menu ul {
        padding: 0;
    }

    .menu ul li {
        padding: 10px 0; /* Spacing for mobile menu items */
    }

    .menu-right {
        display: none; /* Hide right menu on small screens */
    }
}
