{% extends 'core/base.html' %}
{% load static %}

{% block title %}Välkommen{% endblock %}

{% block content%}
<header class="px-6 py-10 lg:py-20 bg-gray-900">
    <div class="max-w-3xl mx-auto text-center">
        <p class="mb-2 text-3xl lg:text-5xl green-color-text font-bold">Välkommen till<br>Bra Mycket Bättre!</p>

        <p class="mb-10 green-color-text font-bold">Vi har tyger och sytillbehör till dina nya projekt, och en del annat till hemmet.</p>

        <a href="{% url 'shop' %}" class="inline-block px-8 py-4 rounded-xl bg-gray-200 uppercase text-lime-600 hover:bg-gray-300">Till Butiken</a>
    </div>
</header>

<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0">
    <div class="products flex items-center flex-wrap">
        {% for produkt in produkt %}
            {% include 'products/partials/product_list_items.html'%}
        {% endfor %}
    </div>
</div>

{% endblock%}