{% extends 'core/base.html' %}

{% block title %}Shop{% endblock %}

{% block content %}


<div class="max-w-6xl mx-auto flex flex-wrap items-start py-6 px-6 xl:px-0">
    <div class="filters w-full lg:w-1/4">
        <!-- ... Sökformulär ... -->

        <!-- Kategorimeny -->
        <h3 class="mt-6 mb-3 text-xl uppercase">Kategorier</h3>
        <ul class="space-y-2 font-bold">
            {% for category in categories %}
                <li>
                    <button onclick="toggleSubcategories('{{ category.slug }}')" class="{% if category.slug == active_category %} green-color {% else %} text-gray-500 {% endif %}">
                        {{ category.namn }}
                    </button>
                    <!-- Underkategorier -->
                    <div id="subcategory-{{ category.slug }}" class="dropdown-content">
                        <ul>
                            {% for subcategory in category.children.all %}
                                <li>
                                    <a href="{% url 'shop' %}?category={{ subcategory.slug }}" class="text-gray-500">
                                        {{ subcategory.namn }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            {% endfor %}
        </ul>

    </div>

    <!-- Produktvisning -->
    <div class="products w-full lg:w-3/4 -mt-4 flex flex-wrap">
        {% for produkt in products %}
            {% include 'products/partials/product_list_items.html' %}
        {% empty %}
            <p>Välj produkt i menyn till vänster.</p>
        {% endfor %}
    </div>
</div>
<script>
    function toggleSubcategories(categorySlug) {
        console.log("Toggling subcategories for", categorySlug);  // Loggning för att kontrollera funktionen
        var subcategoryDiv = document.getElementById('subcategory-' + categorySlug);
        subcategoryDiv.classList.toggle('show');
    }

</script>


{% endblock %}
